{% load static %}
{#<script src="{% static 'js/like.js' %}"></script> <!-- This is how to include a static file -->#}
<link rel="stylesheet" href="{% static 'css/like.css' %}">
<script src="https://kit.fontawesome.com/c4dd6a7ced.js" crossorigin="anonymous"></script>
<script src="{% static '/js/like.js' %}"></script>

<div class="card m-3" style="width: 18rem;">

    <img class="card-img-top" src="{{ hike.image.url }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="text-capitalize">{{ hike.name }}</h5>
        <p class="card-text">{{ hike.description|truncatechars:100 }} </p>
    </div>
    <div class="card-body" style="opacity: 0.8">
        {% if user.is_authenticated %}
            <p class="container">
                <a class="card-text-right" style="padding-right: 80px">Likes: {{ hike.like_set.count }}</a>
                <a class="card-text-right">Comments: {{ hike.comment_set.count}}</a>
            </p>
            <p class="bottom-container">
            <a class="font-weight-light" style="padding-top: 3px" href="{% url 'hike details' hike.id hike.name %}">See
                more</a>
            <a href="{% url 'like hike' hike.id %}">
                    <i id="btn" class="far fa-heart"></i>
                </a>
            </p>
        {% else %}
            <a class="text-info" href="{% url 'login user' %}">Login to see more!</a>
        {% endif %}

        {#        #to be changed to actually show details of the hike.#}
        {% if hike.can_delete %}
            <button class="btn btn-danger">Delete</button>
        {% endif %}
    </div>
</div>



