{% extends 'common/base/base.html' %}
{% block site_heading %}
    Hike Details
{% endblock %}
{% block site_content %}
    <div class="flex-container">
        <div class="card" style="width: 40rem;">
            <div class="item">

                <img class="card-img-top" src="{{ hike.image.url }}" alt="Card image cap">

            </div>
            <h2 style="text-align: center">{{ hike.name }}</h2>
            <div class="card-body">
                {{ hike.description }}
            </div>
            <div class="card-body" style="padding-top: 3px">
                <strong>Likes: {{ hike.like_set.count }}</strong>
            </div>
            <div class="card-body">To be included map

                <div class="list-group list-group-flush">
                    {% for comment in hike.comment_set.all %}
                        <div class="list-group-item" style="padding-bottom: 5px">

                            <strong>{{ comment.text|linebreaks }}</strong>
                            <div class="date">{{ comment.created_date }}</div>
                            <p>{{ comment.author.username }}</p>
                        </div>
                    {% empty %}
                        <p>No comments here yet :(</p>
                    {% endfor %}
                </div>
                <div class="buttons">
                    <a class="btn btn-secondary" href="{% url 'add_comment_to_hike' pk=hike.pk %}">Add comment</a>
                    {% if user.pk == hike.created_by.pk %}
                    <a class="btn btn-secondary" href="{% url 'edit hike' hike.id %}">Edit Hike</a>
                    <a class="btn btn-secondary" href="{% url 'delete hike' hike.id %}">Delete Hike</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}